<section class="hero is-fullheight">
    <div class="hero-body has-text-centered">
        <div class="login">
        <img src="../images/taskwork_logo.png" width="325px"/>
            <br>
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div>
                    <label class="label">Check password and/or username!</label>
                    <div class="button is-block is-fullwidth is-primary is-medium is-rounded"><a style="color: #fff;" href="/users/login">Login</a></div>
                    <br>
                    <a href="/users/signup">Create an Account</a><br>
                    <a id="signGuest" href="#">Sign in as Guest</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section>
