<section class="section">
    <section class="hero background-navy">
        <div class="hero-body has-text-centered">
            <div class="container">
                <a href="/"><img src="../images/logoWhite_TaskPage.png" width="325px"/></a>
            </div>
        </div>
    </section>

    <section class="section background-grey">
        <nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/todo">Tasks</a></li>
            <li class="is-active"><a href="/about" aria-current="page">About Taskwork</a></li>
        </ul>
        </nav>
        <div class="container">
            <div class="columns is-desktop">
                <div class="column">
                    <h1 class="title">About Taskwork</h1>
                    <h2 class="subtitle">
                        <strong>Taskwork</strong> is jhgftgh, learn how to use it to empower your dev team!</a>
                    </h2>
                </div>
            </div>
        </div>
    </section>

    <section class="section background-white-cornerless">
        <div class="columns is-desktop">
            <div class="column">
                <div class="box">
                    <div style="border-style: solid; border-color:#2560e3; border-radius: 4px;">
                    <video playsinline autoplay muted>
                        <source src="../video/Taskwork-Demo.mp4" type="video/mp4">
                    </video>
                    </div>
                </div>
            </div>
            <div class="column">
                <!-- Add text for video here. -->
            </div>
        </div>
    </section>
    
    <section class="section background-grey">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title">The Team</h1>
                    <h2 class="subtitle">
                        Taskwork was built by developers for development teams.
                        <a href="https://github.com/jevinkeffers/Backend_Project"> 
                        <p class="github">
                        View the Project on Github</a>
                        </p>
                    </h2>
                </div>
            </div>
        </div>
    </section>

    <section class="section background-white">
        <div class="columns is-desktop">
            <div class="column">
                <p class="has-text-centered">
                    <img src="../images/luke.png" width=""/>
                </p>
                <p style="color: #363636">
                    <strong>Luke Brazil</strong>
                    <br>
                    ADD TEXT HERE.
                    <br>
                    <p class="has-text-centered">
                    <a href="">Github</a> • <a href="">LinkedIn</a>
                    </p>
                </p>
            </div>
            <div class="column">
                <p class="has-text-centered">
                    <img src="../images/jai.png" width=""/>
                </p>
                <br>
                <p style="color: #363636">
                    <strong>Jai Gokhale</strong> 
                    <br>
                    ADD TEXT HERE.
                    <br>
                    <p class="has-text-centered">
                    <a href="">Github</a> • <a href="">LinkedIn</a>
                    </p>
                </p>
            </div>

            <div class="column">
                <p class="has-text-centered">
                    <img src="../images/kevin.png" width=""/>
                </p>
                <br>
                <p style="color: #363636">
                    <strong>Kevin Jeffers</strong> 
                    <br>
                    ADD TEXT HERE.
                    <br>
                    <p class="has-text-centered">
                    <a href="https://github.com/jevinkeffers">Github</a> • <a href="https://www.linkedin.com/in/kevin-jeffers/">LinkedIn</a>
                    </p>
                </p>
            </div>

            <div class="column">
                <p class="has-text-centered">
                    <img src="../images/harmony.png" width=""/>
                </p>
                <br>
                <p style="color: #363636">
                    <strong>Harmony Trevena</strong> 
                    <br>
                    Project Manager and Designer turned Software Developer.
                    <br>
                    <p class="has-text-centered">
                    <a href="https://github.com/harmonytrevena">Github</a> • <a href="https://www.linkedin.com/in/harmony-trevena/">LinkedIn</a>
                    </p>
                </p>
            </div>
        </div>
    </section>

    <section class="hero">
        <div class="hero-body has-text-centered">
            <a href="/users/logout" class="button is-primary">Logout</a>
        </div>
    </section>
</section>
