<section class="hero is-fullheight">
    <div class="hero-body has-text-centered">
        <div class="login">
        <img src="../images/logoWhite.png" width="325px"/>
            <form action="/users/login" method="POST" class="form">
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input id="emailInput" class="input is-medium is-rounded is-danger" name="email" type="email" placeholder="hello@example.com" value="">
                    </div>
                    <p id="emailError" class="help is-danger"></p>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input id="passwordInput" name="password" class="input is-medium is-rounded is-danger" type="password" placeholder="*****" value="">
                    </div>
                </div>
                <br />
                <button class="button is-block is-fullwidth is-primary is-medium is-rounded" type="submit">
                    Login
                </button>
            </form>
            <br>
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div>
                    <a href="/users/signup">Create an Account</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section>

<script src="js/form_validation_login.js"></script> 
