<section class="aboutus">
    <header class="aboutus-header">
        <img src="..images/taskwork_logo.png"/>
    </header>
    <body class="aboutus-body">
        <h1 class="aboutus-h1">About Us</h1>
        <h3 class="aboutus-h1">TASKWORK is Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. It was built with the guidance and love of the good people at <a href="https://www.digitalcrafts.com/">DigitalCrafts</a>.</h3>
        <h3 class="aboutus-h1"><a href="https://github.com/jevinkeffers/Backend_Project">Here's the project on Github.</a></h3>
        <h3 class="aboutus-h1">And here's the team of developers who built TASKWORK.</h3>
        <p>
            <img src="../images/luke.png" width=""/>
        </p>
        <p>
            <strong>Luke Brazil</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            <a href="">Luke's Github</a> • <a href="">Luke's LinkedIn</a>
        </p>
        <p>
            <img src="../images/jai.png" width=""/>
        </p>
        <p>
            <strong>Jai Gokhale</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            <a href="">Jai's Github</a> • <a href="">Jai's LinkedIn</a>
        </p>
        <p>
            <img src="../images/kevin.png" width=""/>
        </p>
        <p>
            <strong>Kevin Jeffers</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            <a href="https://github.com/jevinkeffers">Kevin's Github</a> • <a href="https://www.linkedin.com/in/kevin-jeffers/">Kevin's LinkedIn</a>
        </p>
        <p>
            <img src="../images/harmony.png" width=""/>
        </p>
        <p>
            <strong>Harmony Trevena</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            <a href="">Harmony's Github</a> • <a href="">Harmony's LinkedIn</a>
        </p>
    </body>
    <footer>
        <strong><a href="/">Return Home • <a href="/projects">Projects</a> • <a href="/todo">Tasks</a></strong>
    </footer>
</section>