<div class="column">

    <form action="/projects" method="POST">


        <div class="box">
            <div class="heading">To do</div>
            ${data.map(rev => { return `
            <button type="Submit" name="Project_id" value="${rev.id}" id="updateTodo" class="button is-outlined">${rev.name}</button>
           
            ` }).join('')}
            <br>
            <!-- <button style="margin-top:1rem;" type="Submit" id="updateTodo" class="button is-outlined">
                Update List
            </button> -->
        </div>

    </form>
</div>

<form style="margin-top: 16px" action="/projects" method="POST">
    <label class="label">
        <h1 class="title"><strong>New Project:</strong></h1>
    </label>
    <textarea style="color: #2a2a2d" name="project" value="" class="textarea" placeholder="e.g. Hello world"></textarea>

    <div style="margin: 1rem 1rem 0 0" class="columns">
        <div class="column is-narrow">
            <div class="field">
                <button color="#2a2a2d" type="Submit" id="radButton" class="button is-outlined">
                    Create Project
                </button>
            </div>
        </div>
        <div class="column is-narrow">
            <a href="/users/logout" class="button is-danger">Logout</a>
            <a href="/todo">Go to todos</a>
        </div>
    </div>
</form>