<section class="section">
    <section class="hero background-navy">
        <div class="hero-body has-text-centered">
            <div class="container">
                <a href="/"><img src="../images/logoWhite_TaskPage.png" width="325px"/></a>
            </div>
        </div>
    </section>

    <section class="section background-grey">
        <nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/todo">Tasks</a></li>
            <li class="is-active"><a href="/about" aria-current="page">About Taskwork</a></li>
        </ul>
        </nav>
        <div class="container">
            <div class="columns is-desktop">
                <div class="column">
                    <h1 class="title">About Taskwork</h1>
                    <h2 class="subtitle">
                        A user-friendly project management tool that utilizes the scrum framework, allowing users to track project tasks, review those in flight and boost team efficiency.
                    </h2>
                </div>
            </div>
        </div>
    </section>

    <section class="section background-white-cornerless">
        <div class="c"column">
                <div class="box">
                    <div style="border-style: solid; border-color:#2560e3; border-radius: 4px;">
                    <video playsinline autoplay muted>
                        <source src="../video/Taskwork-Demo.mp4" type="video/mp4">
                    </video>
                    </div>
                </div>
            </div>
            <div class="column">
                <h1 class="title">Guide to Taskwork</h1>
                    <h2 class="subtitle">
                        Step 1 • Create a new project. To do so, use the gray input field on the projects page. You have the ability to add a project title and description.
                    </h2>
                    <h2 class="subtitle">
                        Step 2 • Click on the project you just created and proceed to the task screen. This is where you will track your to-do list, those 'in progress', 'in testing' and features that are complete.
                    </h2>
                    <h2 class="subtitle">
                        Step 3 • Create a new task in the gray input field. Create as many tasks as needed to get started. You can always come back and add more.
                    </h2>
                    <h2 class="subtitle">
                        Step 4 • Move the tasks through each phase using the <span style="color: #00d1b2;"><i class="fad fa-angle-double-right fa-lg"></i> green arrows to move forward</span>, <span style="color: #2560e3;"><i class="fad fa-angle-double-left fa-lg"></i> the blue arrows to go back</span> or by pressing <span style="color: #E7807C;"><i class="fas fa-times fa-lg""></i> to delete</span>.
                    </h2>
                    <h2 class="subtitle">
                        Step 5 • When you are ready to submit tasks for review, use the 'mark for review' button to progress the project to 'under review' on the projects page.
                    </h2>
                    <h2 class="subtitle">
                        Step 6 • Continue to work on your projects and tasks, use the mark as complete button when you have completed all the tasks.
                    </h2>
                    <h2 class="subtitle">
                        Step 7 • If you no longer need the project, you can permanently delete it using the button at the end of the task page. Keep in mind this action is permanent and can not be un-done.
                    </h2>
            </div>
        </div>
    </section>
    
    <section class="section background-grey">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title">The Team</h1>
                    <h2 class="subtitle">
                        Taskwork was built by developers for development teams.
                        <a href="https://github.com/jevinkeffers/Backend_Project"> 
                        <p class="github">
                        View the Project on Github</a>
                        </p>
                    </h2>
                </div>
            </div>
        </div>
    </section>

    <section class="section background-white">
        <div class="columns is-desktop">
            <div class="column">
                <p class="has-text-centered">
                    <img src="../images/luke.png" width=""/>
                </p>
                <br>
                <p class="has-text-centered">
                    <a href="https://github.com/LukeBrazil">Github</a> • <a href="https://www.linkedin.com/in/luke-brazil-0506b71b0/">LinkedIn</a>
                </p>
                <br>
                <p style="color: #363636">
                    <strong>Luke Brazil</strong>
                    <br>
                    Aspiring software developer. Contributed to the backend implementation of this application. Setting up tables within the database, controllers for the various express modules, and logic to take the database data and display them on the screen.
                </p>
            </div>
            <div class="column">
                <p class="has-text-centered">
                    <img src="../images/jai.png" width=""/>
                </p>
                <br>
                <p class="has-text-centered">
                    <a href="https://github.com/jmg5219">Github</a> • <a href="https://www.linkedin.com/in/jai-gokhale-81827747">LinkedIn</a>
                </p>
                <br>
                <p style="color: #363636">
                    <strong>Jai Gokhale</strong> 
                    <br>
                    I am an aspiring software engineer familiar with leading technologies, languages and programming practices. I particularly enjoy working on JavaScript and Python projects. My contributions to the project included implementation of databases and controllers on the backend of the project.
                </p>
            </div>

            <div class="column">
                <p class="has-text-centered">
                    <img src="../images/kevin.png" width=""/>
                </p>
                <br>
                <p class="has-text-centered">
                    <a href="https://github.com/jevinkeffers">Github</a> • <a href="https://www.linkedin.com/in/kevin-jeffers/">LinkedIn</a>
                </p>
                <br>
                <p style="color: #363636">
                    <strong>Kevin Jeffers</strong> 
                    <br>
                    Kevin helped with the UX, testing and prototyping of Taskwork. He's excited to take his dev career remote to continue his favorite hobby of traveling the world.
                </p>
            </div>

            <div class="column">
                <p class="has-text-centered">
                    <img src="../images/harmony.png" width=""/>
                </p>
                <br>
                <p class="has-text-centered">
                    <a href="https://github.com/harmonytrevena">Github</a> • <a href="https://www.linkedin.com/in/harmony-trevena/">LinkedIn</a>
                </p>
                <br>
                <p style="color: #363636">
                    <strong>Harmony Trevena</strong> 
                    <br>
                    Contributed to the front-end development, UI/UX, brand concepting and implementation for this application. As a Project Manager and Designer turned Software Developer, I am passionate about working in teams and finding creative solutions to technical problems.
                </p>
            </div>
        </div>
    </section> 

    <section class="hero">
        <div class="hero-body has-text-centered">
            <a href="/users/logout" class="button is-primary">Logout</a>
        </div>
    </section>
</section>
