<section class="section">
    <div class="columns is-desktop">
        <div class="column">
            <form action="/complete" method="POST">

                <div class="box">
                    <div class="heading">To do</div>
                    ${data.map(rev => { return `
                    <div class="title">${rev.todo_task}
                    ${rev.todo_task != ''? `
                    <span class="control">
                        <label class="radio">
                            <input type="radio" value="${rev.id}" name="Progress">
                            Progress
                        </label>
                        <label class="radio">
                            <input type="radio" value="${rev.id}" name="Delete">
                            Delete
                        </label>
                    </span>
                    ` : `
                    
                    `}</div>
                    ` }).join('')}
                    <br>
                    <button style="margin-top:1rem;" type="Submit" id="updateTodo" class="button is-outlined">
                        Update List
                    </button>
                </div>

            </form>
        </div>
        <div class="column">
            <form action="/complete_inprogress" method="POST">

                <div class="box">
                    <div class="heading">IN PROGRESS</div>
                    ${data.map(rev => { return `
                    <div class="title">${rev.in_progress}
                    ${rev.in_progress != ''? `
                    <span class="control">
                        <label class="radio">
                            <input type="radio" value="${rev.id}" name="Progress">
                            Progress
                        </label>
                        <label class="radio">
                            <input type="radio" value="${rev.id}" name="Delete">
                            Delete
                        </label>
                    </span>
                    ` : `
                    
                    `}</div>
                    ` }).join('')}
                    <br>
                    <button style="margin-top:1rem;" type="Submit" id="updateTodo" class="button is-outlined">
                        Update List
                    </button>
                </div>
            </form>
        </div>
        <div class="column">
            <form action="/complete" method="POST">

                <div class="box">
                    <div class="heading">In Testing</div>
                    ${data.map(rev => { return `
                    <div class="title">${rev.in_testing}
                    ${rev.in_testing != ''? `
                    <span class="control">
                        <label class="radio">
                            <input type="radio" value="${rev.id}" name="Progress">
                            Progress
                        </label>
                        <label class="radio">
                            <input type="radio" value="${rev.id}" name="Delete">
                            Delete
                        </label>
                    </span>
                    ` : `
                    
                    `}</div>
                    ` }).join('')}
                    <br>
                    <button style="margin-top:1rem;" type="Submit" id="updateTodo" class="button is-outlined">
                        Update List
                    </button>
                </div>
                
            </form>
        </div>
        <div class="column">
            <form action="/complete_complete" method="POST">

                <div class="box">
                    <div class="heading">Complete</div>
                    ${data.map(rev => { return `
                    <div class="title">${rev.completed}
                    ${rev.completed != ''? `
                    <span class="control">
                        <label class="radio">
                            <input type="radio" value="${rev.id}" name="Delete">
                            Delete
                        </label>
                    </span>
                    ` : `
                    
                    `}</div>
                    ` }).join('')}
                    <br>
                    <button style="margin-top:1rem;" type="Submit" id="updateTodo" class="button is-outlined">
                        Update List
                    </button>
                </div>
            </form>
        </div>





        <!-- <div class="column">
            <form action="/complete" method="POST">
                ${data.map(category => { return `
                <div class="box">
                    <div class="heading">In Progress Tasks</div>
                    <div class="title">${category.in_progress}</div>
                </div>
                ` }).join('')}
            </form>
        </div> -->
        <!-- <div class="column">
            <form action="/complete" method="POST">
                ${data.map(category => { return `
                <div class="box">
                    <div class="heading">Testing Tasks</div>
                    <div class="title">${category.in_testing}</div>
                </div>
                ` }).join('')}
            </form>
        </div> -->
        <!-- <div class="column">
            <form action="/complete" method="POST">
                ${data.map(category => { return `
                <div class="box">
                    <div class="heading">Completed Tasks</div>
                    <div class="title">${category.completed}</div>
                </div>
                ` }).join('')}
            </form>
        </div> -->
    </div>
</section>




<form style="margin-top: 16px" action="/todo" method="POST">
    <label class="label">
        <h1 class="title"><strong>What's Next:</strong></h1>
    </label>
    <textarea style="color: #2a2a2d" name="todoitem" value="" class="textarea" placeholder="e.g. Hello world"></textarea>

    <div style="margin: 1rem 1rem 0 0" class="columns">
        <div class="column is-narrow">
            <div class="field">
                <button color="#2a2a2d" type="Submit" id="radButton" class="button is-outlined">
                    Post Task
                </button>
            </div>
        </div>
        <div class="column is-narrow">
            <a href="/users/logout" class="button is-danger">Logout</a>
        </div>
    </div>
</form>