<div class="container is-fluid">
   
    
    <div style="background-color:#EFDC76; border: 1px grey solid;text-align: center;height:20rem;width:20rem;top:50%;margin-top:10rem;margin-left:auto;"class="container is-fluid">
        <h1 class="title">toDo app</h1>
        <div style="margin-top:7rem" class=""></div>
        <a href="/users/login"><button class="button is-light">log in</button></a>
        <a href="/users/signup"><button class="button is-light">sign up</button></a>
        
    </div>
    
    
</div>





