<section class="section">
  <section class="hero background-navy">
      <div class="hero-body has-text-centered">
        <div class="container">
          <img src="../images/logoWhite_TaskPage.png" width="325px"/>
        </div>
      </div>
  </section>

  <section class="section background-grey">
    <nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li class="is-active"><a href="/todo" aria-current="page">Tasks</a></li>
        <li><a href="/about">About Taskwork</a></li>
      </ul>
    </nav>
    <div class="container">
      <div class="columns is-desktop">
        <div class="column">
          <h1 class="title">${projectName.name}</h1>
          <h2 class="subtitle">
            ${projectDescription.project_description}
          </h2>
        </div>
        <div class="column">
          <form action="/todo" method="POST">
              <label class="label">
                  <h1 class="title">Add Task</h1>
              </label>
              <textarea name="todoitem" value="" class="textarea grey text" placeholder="e.g. Create Taskwork To-do."></textarea>
              <button type="Submit" id="radButton" class="button is-grey">
                    Post Task
              </button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="section background-white">
      <div class="columns is-desktop">
          <div class="column">
              <form action="/complete" method="POST">
                  <div class="box">
                      <div class="heading">To do</div>
                      ${data.map(rev => { return `
                      <div class="subtitle has-text-centered">${rev.todo_task}
                      ${rev.todo_task != ''? `
                        <span class="control">
                            <div class="buttons has-addons is-centered">
                                <button type="Submit" id="updateTodo" class="button is-small" value="${rev.id}" name="Delete" >
                                    <span style="color: #E7807C;"><i class="fas fa-times fa-lg""></i></span>
                                </button>
                                <button type="Submit" id="updateTodo" class="button is-small" value="${rev.id}" name="Progress">
                                  <span style="color: #00d1b2;"><i class="fad fa-angle-double-right fa-lg"></i></span>
                                </button>
                              </div>
                        </span>
                      ` : `
                      `}</div>
                      ` }).join('')}
                      <br>
                  </div>
              </form>
          </div>

          <div class="column">
              <form action="/complete_inprogress" method="POST">
                  <div class="box">
                      <div class="heading">IN PROGRESS</div>
                      ${data.map(rev => { return `
                      <div class="subtitle has-text-centered">${rev.in_progress}
                      ${rev.in_progress != ''? `
                      <span class="control">
                          <div class="buttons has-addons is-centered">
                            <button type="Submit" id="updateTodo" class="button is-small" value="${rev.id}" name="Back">
                              <span style="color: #2560e3;"><i class="fad fa-angle-double-left fa-lg"></i></span>
                            </button>
                            <button type="Submit" id="updateTodo" class="button is-small" value="${rev.id}" name="Delete" >
                              <span style="color: #E7807C;"><i class="fas fa-times fa-lg""></i></span>
                            </button>
                            <button type="Submit" id="updateTodo" class="button is-small" value="${rev.id}" name="Progress">
                              <span style="color: #00d1b2;"><i class="fad fa-angle-double-right fa-lg"></i></span>
                            </button>
                          </div>
                      </span>
                      ` : `
                      `}</div>
                      ` }).join('')}
                      <br>
                  </div>
              </form>
          </div>

          <div class="column">
              <form action="/in_testing" method="POST">
                  <div class="box">
                      <div class="heading">In Testing</div>
                      ${data.map(rev => { return `
                      <div class="subtitle has-text-centered">${rev.in_testing}
                      ${rev.in_testing != ''? `
                      <span class="control">
                        <div class="buttons has-addons is-centered">
                          <button type="Submit" id="updateTodo" class="button is-small" value="${rev.id}" name="Back">
                            <span style="color: #2560e3;"><i class="fad fa-angle-double-left fa-lg"></i></span>
                          </button>
                          <button type="Submit" id="updateTodo" class="button is-small" value="${rev.id}" name="Delete" >
                            <span style="color: #E7807C;"><i class="fas fa-times fa-lg""></i></span>
                          </button>
                          <button type="Submit" id="updateTodo" class="button is-small" value="${rev.id}" name="Progress">
                            <span style="color: #00d1b2;"><i class="fad fa-angle-double-right fa-lg"></i></span>
                          </button>
                        </div>
                      </span>
                      ` : `
                      `}</div>
                      ` }).join('')}
                      <br>
                  </div>
              </form>
          </div>

          <div class="column">
              <form action="/complete_complete" method="POST"
                  <div class="box">
                      <div class="heading">Complete</div>
                      ${data.map(rev => { return `
                      <div class="subtitle has-text-centered">${rev.completed}
                      ${rev.completed != ''? `
                      <span class="control">
                        <div class="buttons has-addons is-centered">
                          <button type="Submit" id="updateTodo" class="button is-small" value="${rev.id}" name="Back">
                            <span style="color: #2560e3;"><i class="fad fa-angle-double-left fa-lg"></i></span>
                          </button>
                          <button type="Submit" id="updateTodo" class="button is-small" value="${rev.id}" name="Delete" >
                            <span style="color: #E7807C;"><i class="fas fa-times fa-lg""></i></span>
                          </button>
                        </div>
                      </span>
                      ` : `
                      `}</div>
                      ` }).join('')}
                      <br>
                      <span class="control">
                        <div class="buttons is-centered">
                          <button type="Submit" id="updateTodo" class="button is-grey" value="true" name="review">
                            <span>Mark For Review</span>
                          </button>
                          <button type="Submit" id="updateTodo" class="button is-grey" value="true" name="approved">
                            <span>Mark As Complete</span>
                          </button>
                        </div>
                      </span>
                  </div>
              </form>
          </div>
          <form action="/deleteproject" method="POST">
            <span class="control">
              <div class="buttons is-centered">
                <button type="Submit" id="updateTodo" class="button is-grey" value="" name="Delete" >
                  <span>Permanently Delete Project</span>
                </button>
              </div>
            </span>
          </form>
      </div>
  </section>
  
  <section class="footer has-text-centered">
    <a href="/users/logout" class="button is-primary">Logout</a>
  </section>
</section>