<section class="hero is-fullheight">
  <div class="hero-body has-text-centered">
      <div class="login">
      <img src="#" width="325px" />
          <form action="/users/signup" method="POST" class="form">
              <div class="field">
                <div class="control">
                    <input class="input is-medium is-rounded" name="name" type="text" placeholder="Type Your Full Name..." value="">
                </div>
              </div>
              <div class="field">
                  <div class="control">
                      <input class="input is-medium is-rounded" name="email" class="input " type="email" placeholder="hello@example.com" value="">
                  </div>
              </div>
              <div class="field">
                  <div class="control">
                      <input name="password" class="input is-medium is-rounded" type="password" placeholder="**********" value="">
                  </div>
              </div>
              <br />
              <button class="button is-block is-fullwidth is-primary is-medium is-rounded" type="submit">
                  Sign Up
              </button>
          </form>
          <br>
          <nav class="level">
              <div class="level-item has-text-centered">
                  <div>
                    Already have an account? <a href="/users/login">Login</a>
                  </div>
              </div>
          </nav>
      </div>
  </div>
</section>