<section class="hero">
    <div class="hero-body has-text-centered">
        <div class="login">
        <img src="../images/logoWhite_TaskPage.png" width="325px"/>
    </div>
</section>

<section class="section background-grey">
    <nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">
      <ul>
        <li><a href="/">Login</a></li>
        <li class="is-active"><a href="/projects" aria-current="page">Projects</a></li>
        <li><a href="/todo">Tasks</a></li>
      </ul>
    </nav>
    <div class="container">
        <div class="columns is-desktop">
          <div class="column">
            <h1 class="title">Empower Your Dev Team</h1>
            <h2 class="subtitle">
              A brief description of TASKWORK, how to use it etc!
            </h2>
          </div>
          <div class="column">
            <form action="/projects" method="POST">
                <label class="label">
                    <h1 class="title">Create New Project</h1>
                </label>
                <textarea name="project" value="" class="textarea grey" placeholder="e.g. Hello world"></textarea>
                <button type="Submit" id="radButton" class="button is-grey">
                      Post Project
                </button>
            </form>
          </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="columns is-desktop">
        <div class="column">
            <form action="/projects" method="POST">
                <div class="box">
                    <div class="heading">Projects</div>
                    ${data.map(rev => { return `
                    <button type="Submit" name="Project_id" value="${rev.id}" id="updateTodo" class="button is-outlined">${rev.name}</button>
                    ` }).join('')}
                    <br>
                </div>
            </form>
        </div>
    </div>
</section>        

<section class="hero">
    <div class="hero-body has-text-centered">
        <a href="/users/logout" class="button is-primary">Logout</a>
    </div>
</section>