<section class="section">
    <section class="hero background-navy">
        <div class="hero-body has-text-centered">
            <div class="container">
                <a href="/"><img src="../images/logoWhite_TaskPage.png" width="325px"/></a>
            </div>
        </div>
    </section>

    <section class="section background-grey">
        <nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/todo">Tasks</a></li>
            <li class="is-active"><a href="/about" aria-current="page">About Taskwork</a></li>
        </ul>
        </nav>
        <div class="container">
            <div class="columns is-desktop">
            <div class="column">
                <h1 class="title">About Taskwork</h1>
                <h2 class="subtitle">
                    <strong>Taskwork</strong> is Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. It was built with the guidance and love of the good people at <a href="https://www.digitalcrafts.com/">DigitalCrafts</a>.
                    <a href="https://github.com/jevinkeffers/Backend_Project"> 
                    <p class="github">
                    Here's the project on Github.</a>
                    </p>
                </h2>
            </div>
            <div class="column">
                <h1 class="title">About the team</h1>
                <h2 class="subtitle">
                    <p>
                        <img src="../images/luke.png" width=""/>
                    </p>
                    <p>
                        <strong>Luke Brazil</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        <p>
                        <a href="">Luke's Github</a> • <a href="">Luke's LinkedIn</a>
                        </p>
                    </p>
                    <p>
                        <img src="../images/jai.png" width=""/>
                    </p>
                    <p>
                        <strong>Jai Gokhale</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        <p>
                        <a href="">Jai's Github</a> • <a href="">Jai's LinkedIn</a>
                        </p>
                    </p>
                    <p>
                        <img src="../images/kevin.png" width=""/>
                    </p>
                    <p>
                        <strong>Kevin Jeffers</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        <p>
                        <a href="https://github.com/jevinkeffers">Kevin's Github</a> • <a href="https://www.linkedin.com/in/kevin-jeffers/">Kevin's LinkedIn</a>
                        </p>
                    </p>
                    <p>
                        <img src="../images/harmony.png" width=""/>
                    </p>
                    <p>
                        <strong>Harmony Trevena</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        <p>
                        <a href="">Harmony's Github</a> • <a href="">Harmony's LinkedIn</a>
                        </p>
                    </p>
            </div>
            </div>
        </div>
    </section>

    <section class="section background-white">
        <div class="columns is-desktop">
            <div class="column">
                <!-- ADD HERE -->
            </div>

            <div class="column">
                <!-- ADD HERE -->
            </div>
        </div>
    </section>        

    <section class="hero">
        <div class="hero-body has-text-centered">
            <a href="/users/logout" class="button is-primary">Logout</a>
        </div>
    </section>
</section>
