/* Brand Colors */

/* Navy: #002364 */
/* Blue: #2560e3 */
/* Green: #00d1b2 */
/* Pink: #e7807c */
/* Soft Grey: #ecedf8 */

/* About Us CSS */

* {
    font-family: 'Nunito Sans', sans-serif;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff !important;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #fff !important;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #fff !important;
}
:-moz-placeholder { /* Firefox 18- */
    color: #fff !important;
}

.hero {
    background: var(--background);
    background-image: url(./images/loginBackgroundLight.png);
}

header {
    background-color: #002364;

}

