* {
    font-family: 'Nunito Sans', sans-serif;
  }
  
  :root {
    --shadowDark: #001B4E;
    --background: #002364;
    --shadowLight: #001B4E;
  }

  .hero {
    background: var(--background);
    background-image: url(../images/loginBackgroundLight.png);
  }
  
  /* body {
    background: var(--background);
  } */
  
  .hero-body {
    justify-content: center;
  }
  
  .login {
    background: #001337;
    border-radius: 25px;
    padding: 1.5rem;
    box-shadow: 8px 8px 15px var(--shadowDark), -8px -8px 15px var(--shadowLight);
  }
  
  input {
    background: var(--shadowDark) !important;
  }
  
  a {
    font-weight: 600;
  }

  .button.is-primary {
    background-color: #E7807C;
    border-color: transparent;
    color: #fff;
}

.input, .select select, .textarea {
    background-color: transparent;
    border-color: transparent;
    border-radius: 4px;
    color: #fff;
}

.input, .select select, .textarea {
    background-color: transparent;
    border-color: transparent;
    border-radius: 4px;
    color: #fff;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff !important;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #fff !important;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #fff !important;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #fff !important;
  }
