/* Brand Colors */

/* Navy: #002364 */
/* Blue: #2560e3 */
/* Green: #00d1b2 */
/* Pink: #e7807c */
/* Soft Grey: #ecedf8 */

* {
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background: #002364;
    background-image: url(../images/loginBackgroundLight.png);
}

/* Chrome/Opera/Safari */
/* ::-webkit-input-placeholder {
    color: #fff !important;
} */
/* Firefox 19+ */
/* ::-moz-placeholder {
    color: #fff !important;
} */
/* IE 10+ */
/* :-ms-input-placeholder { 
    color: #fff !important;
} */
/* Firefox 18- */
/* :-moz-placeholder { 
    color: #fff !important;
} */

/* Login and Sign Up Screen CSS: Alphabetized from here down */

a {
    font-weight: 600;
    color: #2560e3;
}

a:hover {
    color: #00d1b2;
}

body {
    color: #fff;
}

.button.is-primary {
    background-color: #E7807C;
    border-color: transparent;
    color: #fff;
}

.hero {
    background: var(--background);
    background-image: url(../images/loginBackgroundLight.png);
}

.hero-body {
    justify-content: center;
}

.input {
    background: var(--shadowDark) !important;
    border-color: transparent;
    border-radius: 4px;
    color: #fff;
}

.input:active, .input:focus, .is-active.input, .is-focused.input, .select select.is-active, .select select.is-focused, .select select:active, .select select:focus {
    border-color: #2560e3;
    box-shadow: none;
}

.input.white::placeholder {
    color: #fff !important;
}

.is-danger.input, .is-danger.textarea {
    border-color: transparent;
}

.is-danger.input:active, .is-danger.input:focus, .is-danger.is-active.input, .is-danger.is-active.textarea, .is-danger.is-focused.input, .is-danger.is-focused.textarea, .is-danger.textarea:active, .is-danger.textarea:focus {
    box-shadow: none;
}

.github {
    line-height: 50px;
}

.label {
    color: #00d1b2;
    display: block;
    font-size: 1rem;
    font-weight: 700;
}

.login {
    background: #001337;
    border-radius: 25px;
    padding: 1.5rem;
    box-shadow: 8px 8px 15px var(--shadowDark), -8px -8px 15px var(--shadowLight);
}

:root {
    --shadowDark: #001B4E;
    --background: #002364;
    --shadowLight: #001B4E;
}

/* To-Do and Projects Routes CSS: Alphabetized from here down */

.background-grey {
    background: #FBFBFE;
    border-radius: 0px;
}

.background-navy {
    background: #001337;
    border-radius: 4px 4px 0px 0px;
}

.background-white {
    background: #ffffff;
    border-radius: 0px 0px 4px 4px;
}

.breadcrumb a {
    align-items: center;
    color: #2560e3;
}

.button {
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    margin-top: .75rem;
}

.button.is-grey {
    background-color: #ecedf8;
    border-color: transparent;
    color: #363636;
}

.button.is-grey:hover {
    background-color: #E7807C;
    border-color: transparent;
    color: #fff;
}

button.subtitle {
    background-color: transparent;
    border-color: transparent;
    border-width: 1px;
    color: #2560e3;
    justify-items: center;
    align-items: center;
}

button.subtitle:hover {
    color: #E7807C;
}

button.subtitle:focus {
    outline: none;
}

.input.project {
    background: #ecedf8 !important;
    border-color: #ecedf8;
    border-radius: 4px;
    color: #363636;
    margin-bottom: 10px;
}

.input.project:active, .input.project:focus, .is-active.input, .is-focused.input {
    border-color: #2560e3;
    box-shadow: none;
}

.input.text::placeholder {
    color: #363636 !important;
}

.section {
    padding: 2rem 1.5rem;
}

@media screen and (min-width: 1024px) {
    .section.is-medium {
        padding: 9rem 1.5rem;
    }
    .section.is-large {
        padding: 18rem 1.5rem;
        max-width: 
    }
    }


.subtitle {
    color: #4a4a4a;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
}

.subtitle:not(:last-child) {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.textarea.text::placeholder {
    color: #363636 !important;
}

.textarea.grey {
    background-color: #ecedf8;
    border-color: #ecedf8;
    border-radius: 4px;
    color:#363636;
    box-shadow: none;
}

.textarea.grey:hover {
    border-color: none !important;
    box-shadow: none;
}

.textarea.grey:active, .textarea:focus, .is-active.textarea.grey, .is-focused.textarea.grey {
    border-color: #2560e3;
    box-shadow: none;
}

.footer {
    color: #FBFBFE;
    background-color: transparent;
    padding: 1.5rem;
}